.admin-list-page--token-maker .admin-table th:nth-child(1),
.admin-list-page--token-maker .admin-table td:nth-child(1) {
  min-width: 100px;
}

.admin-list-page--token-maker .admin-table th:nth-child(2),
.admin-list-page--token-maker .admin-table td:nth-child(2) {
  min-width: 180px;
}

.admin-list-page--token-maker .admin-table th:nth-child(3),
.admin-list-page--token-maker .admin-table td:nth-child(3) {
  min-width: 150px;
}

.admin-list-page--token-maker .admin-table th:nth-child(4),
.admin-list-page--token-maker .admin-table td:nth-child(4) {
  min-width: 110px;
}

.admin-list-page--token-maker .admin-table th:nth-child(5),
.admin-list-page--token-maker .admin-table td:nth-child(5) {
  min-width: 120px;
}

.admin-list-page--token-maker .admin-table th:nth-child(6),
.admin-list-page--token-maker .admin-table td:nth-child(6) {
  min-width: 120px;
}

.admin-list-page--token-maker .admin-table th:nth-child(7),
.admin-list-page--token-maker .admin-table td:nth-child(7) {
  min-width: 90px;
}

.admin-list-page--token-maker .admin-table th:nth-child(8),
.admin-list-page--token-maker .admin-table td:nth-child(8) {
  min-width: 120px;
}

.admin-list-page--token-maker .admin-table th:nth-child(9),
.admin-list-page--token-maker .admin-table td:nth-child(9) {
  min-width: 130px;
}

.admin-list-page--token-maker .admin-table th:nth-child(10),
.admin-list-page--token-maker .admin-table td:nth-child(10) {
  min-width: 100px;
}

.admin-list-page--token-maker .admin-cell-triple .list-label,
.admin-list-page--token-maker .admin-cell-triple .list-value {
  display: inline-block;
}
